.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-inline: 20px;
    background-color: #ec1920;
    color: #fff;
    width: 48vw;
    position: relative;
    left: 50%;
    min-height: 3vh;
}

.icon {
    cursor: pointer;
    font-size: 20px;
}

.bell {
    margin-right: auto;
}

.user {
    margin-left: auto;
}

