.upper-half {
    padding: 5px;
    padding-inline: 20px;
    background-color: #ffffff;
    width: 48vw;
    position: relative;
    left: 50%;
    height: 44vh;
}

.lower-half {
    display: flex;
    align-content: center;
    padding: 10px;
    padding-inline: 20px;
    background-color: #ffffff;
    color: #333333;
    width: 48vw;
    position: relative;
    left: 50%;
    height: 53vh;
    flex-wrap: wrap;
}
.lower-half > div {
    display: flex;
    margin-bottom: 10px;
}
.box {
    height: 49%;
    margin: 5px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    text-align: center;
}
.lbox {
    width: 40%;
    height: 49%;
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    text-align: center;
}
