.upper-half {
    padding: 5px;
    padding-inline: 20px;
    background-color: #ffffff;
    width: 48vw;
    position: relative;
    left: 50%;
    height: 44vh;
}

.lower-half {
    display: flex;
    align-content: center;
    padding: 10px;
    padding-inline: 20px;
    background-color: #ffffff;
    color: #333333;
    width: 48vw;
    position: relative;
    left: 50%;
    height: 53vh;
    flex-wrap: wrap;
}
.lower-half > div {
    display: flex;
    margin-bottom: 10px;
}
.box {
    height: 49%;
    margin: 5px;
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    text-align: center;
}
.lbox1 {
    background-image: url('icons/parcel.png');
    background-size: contain; /* Ensure the background image is contained within the element */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: right; /* Center the background image */
    width: 40%;
    height: 35%;
    margin: auto;
    box-sizing: border-box;
    padding: 0; /* Відмінити внутрішні відступи */
    border: none; /* Відмінити рамку */
    text-align: center;
}
.lbox2 {
    background-image: url('icons');
    background-size: contain; /* Ensure the background image is contained within the element */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: left; /* Center the background image */
    width: 40%;
    height: 35%;
    margin: auto;
    box-sizing: border-box;
    padding: 0; /* Відмінити внутрішні відступи */
    border: none; /* Відмінити рамку */
    text-align: center;
}
.lbox3 {
    background-image: url('icons/distribution-center.png');
    background-size: contain; /* Ensure the background image is contained within the element */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: right; /* Center the background image */
    width: 40%;
    height: 35%;
    margin: auto;
    box-sizing: border-box;
    padding: 0; /* Відмінити внутрішні відступи */
    border: none; /* Відмінити рамку */
    text-align: center;
}
.lbox4 {
    background-image: url('icons/add.png');
    background-size: contain; /* Ensure the background image is contained within the element */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: left; /* Center the background image */
    width: 40%;
    height: 35%;
    margin: auto;
    box-sizing: border-box;
    padding: 0; /* Відмінити внутрішні відступи */
    border: none; /* Відмінити рамку */
    text-align: center;
}
